{% extends 'base.html' %}

{% load static %}

{# 标题 #}
{% block title %}博客列表{% endblock %}

{# CSS #}
{% block css_styles01 %}
    <link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}

{# 导航栏链接激活 #}
{% block nav-blog-active %}active{% endblock %}

{# 主体内容 #}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9 col-lg-10">

                <div class="card mb-3">
                    <div class="card-header">
                        {% block blog_list_title %}博客列表{% endblock %}
                    </div>
                    <div class="card-body">
                        {% for blog in blogs %}
                            <div class="blog-list">
                                {# 这里引用了别名，方便维护，如果需要参数，后面需要跟参数 #}
                                <h3 class="card-title"><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                                </h3>
                                <p class="blog-list-info">
                                    <img src="{% static 'res/icons/tag.svg' %}" alt="分类"><a
                                        href="{% url 'blogs_with_type' blog.blog_type.pk %}"> {{ blog.blog_type }}</a>
                                    &nbsp;&nbsp;&nbsp;
                                    更新日期：{{ blog.last_update_time|date:'Y-m-d' }}
                                    &nbsp;&nbsp;&nbsp;
                                    阅读量：{{ blog.get_read_num }}
                                </p>
                                <p class="card-text">{{ blog.content|truncatechars:120|striptags }}</p>
                            </div>
                        {% empty %}
                            <div class="blog_list">
                                <h3 class="card-text">暂无博客，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {# 页码 #}
                <div class="paginator">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {# 上一页 #}
                            <li class="page-item">
                                {% if page_of_blogs.has_previous %}
                                    {# 激活 #}
                                    <a class="page-link" href="?page={{ page_of_blogs.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    {# 禁用 #}
                                    <a class="page-link disabled" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                            {# 全部页码 #}
                            {% for page_num in page_range %}
                                {# 激活状态和禁用状态判断 #}
                                <li class="page-item {% if page_num == page_of_blogs.number %}active{% endif %} {% if page_num == '...' %}disabled{% endif %}">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}
                            {# 下一页 #}
                            <li class="page-item">
                                {% if page_of_blogs.has_next %}
                                    {# 激活 #}
                                    <a class="page-link" href="?page={{ page_of_blogs.next_page_number }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    {# 禁用 #}
                                    <a class="page-link disabled" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}

                            </li>
                        </ul>
                    </nav>
                </div>

                {# 统计 #}
                <div class="count">
                    <p>
                        总博客数量：{{ page_of_blogs.paginator.count }}
                        &nbsp;&nbsp;&nbsp;
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>

            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                {# 分类 #}
                <div class="card">
                    <div class="card-header">
                        博客分类
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for blog_type in blog_types %}
                            <li class="list-group-item"><a
                                    href="{% url 'blogs_with_type' blog_type.pk %}">{{ blog_type.type_name }}（{{ blog_type.blog_count }}）</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
                {# 分类 #}
                <div class="card">
                    <div class="card-header">
                        日期分类
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for blog_date, blog_count in blog_dates.items %}
                            <li class="list-group-item"><a
                                    href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:'Y年m月' }}（{{ blog_count }}）</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">暂无分类</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
